.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
mynote.txt
my_conf.py
__pycache__/
2024-*/
dashboard/
data/
logs/
results/
my_statics.py